// Suggested location to add your overrides so that migration would be easy by just updating the SASS folder in the future
.p-tooltip {
    z-index: 1005;
}

.p-dialog-mask {
    z-index: 998;
}

.layout-sidebar {
    z-index: 997 !important;
}